.section_wrapper {
    display: block;

}
.section_header {
    display: flex;
    margin: 40px 0px;
    justify-content: space-between;
}
.products_wrapper {
    display: flex;
    justify-content: center;

}