.point {
    width: 14px;
    height: 14px;
    background-color: #A8DADC;
    border-radius: 50%;
}
.active {
    background-color: #457B9D;
}
.banner_wrapper img{
    width: 100%;
    height: auto;
}